{% extends 'admin/layout.njk' %}

{% block content %}
    <div class="container-form">
        <div class="edit-form">
            <h1>Editando Chef</h1>
            <form action="/admin/chefs?_method=DELETE" method="POST">
                <input type="hidden" name="id" value="{{chef.id}}">
                <button type="submit" class="delete-button">Deletar</button>
            </form>
            <form action="/admin/chefs?_method=PUT" method="POST">
                <input type="hidden" name="id" value="{{chef.id}}">
                <button type="submit" class="button edit-button">Salvar Chef</button>
                <div class="fields">
                    {% include 'admin/chefs/fields.njk' %}
                </div>
            </form>
        </div>
    </div>
{% endblock content %}