<div class="item">
  <h3> Nome</h3>
  <input 
    type="text"
    name="name"
    placeholder="Url da imagem. Ex: http://myimage.com..."
    value="{{chef.name}}"
    >
</div>

<div class="item">
  <h3> Avatar </h3>
  <input 
    type="text"
    name="avatar_url"
    value="{{chef.avatar_url}}"
    >
</div>