<div class="item">
  <h3> Nome</h3>
  <input 
    type="text"
    name="name"
    value="{{chef.name}}"
    >
</div>

<div class="item">
  <h3> Avatar </h3>
  {% if chef.id %}
    <input 
    type="text"
    id="avatar_path"
    name="avatar_path"
    value="{{chef.avatar}}"
    >
  {% endif %}
  <div class="avatar">
    <label for="avatar"class="button">Enviar Avatar</label>
    <input 
      type="file"
      name="avatar"
      id="avatar"
      style="display:none"
    >
  </div>
</div>