{% extends 'admin/layout.njk' %}

{% block content %}
    <div class="container">
        <div class="header">
            <h1>Chef:
                {{chef.name}}</h1>
            <a href="/admin/chefs/{{chef.id}}/edit" class="button">Editar Chef</a>
        </div>
        <div id="chef__wrapper">
            <img src="{{chef.avatar_url}}" alt="{{chef.name}}">
            <h1>{{chef.name}}</h1>
            <h2>{{recipes.length}} Receita(s)</h2>
        </div>
        <h1>Receitas</h1>
        <div class="cards">
            {% for recipe in recipes %}
                <div class="card">
                    <div class="image">
                        <img src="{{recipe.image}}" alt="{{recipe.title}}">
                    </div>
                    <div class="info">
                        <h3>{{recipe.title}}</h3>
                        <h5>por {{chef.name}}</h5>
                        <h6>
                            <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
                        </h6>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}