{% extends 'admin/layout.njk' %}

{% block content %}
    <div class="container-form">
        <div class="edit-form">
            <h1>Editando Usuário</h1>
            <form action="/admin/users?_method=DELETE" method="POST">
                <input type="hidden" name="id" value="{{user.id}}">
                <input type="hidden" name="file_id" value="{{user.file_id}}">
                <button type="submit" class="delete-button">Deletar</button>
            </form>
            <form action="/admin/users?_method=PUT" method="POST">
                <input type="hidden" name="id" value="{{user.id}}">
                <button type="submit" class="button edit-button">Salvar Usuário</button>
                <div class="fields users">
                    {% include 'admin/users/fields.njk' %}
                </div>
            </form>
        </div>
    </div>
{% endblock content %}