{% extends 'admin/layout.njk' %}

{% block content %}
    <div class="container">
        <div class="header">
            <h1>Usuários</h1>
            <a href="/admin/users/create" class="button">Novo</a>
        </div>
        <div class="user__cards">
            {% for user in users %}
                <div class="user__card">
                    <h3>{{user.name}}</h3>
                    <h4>{{user.email}}</h4>
                    <div class="user__footer">
                        <a href="/admin/users/{{user.id}}/edit" style="color: #6558C3; font-weight: bold; font-size: 14px; line-height: 24px; cursor: pointer;">Editar</a>
                        <form action="/admin/users?_method=DELETE" method="POST">
                          <input type="hidden" name="id" value="{{user.id}}">
                          <input type="hidden" name="is_admin" value="{{user.is_admin}}">
                          <button type="submit" style="color: #ee4443; font-weight: bold; font-size: 14px; margin-left: 4px; background-color: transparent; line-height: 24px; cursor: pointer;">Remover</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}