<div class="inputs">
  <div class="item">
    <h3> Nome</h3>
  <input 
    type="text"
    name="name"
    value="{{user.name}}"
    >
</div>

<div class="item">
    <h3> Email</h3>
  <input 
    type="text"
    name="email"
    value="{{user.email}}"
    >
</div>
</div>

<div class="item">
  <h3> Senha</h3>
  <input 
    type="password"
    name="password"
    placeholder="Digite a senha"
    style="max-width: 200px"
    >
</div>