{% extends 'site/layout.njk' %}

{% block content %}
    <div class="chef__cards">
        {% for chef in chefs %}
            <div class="chef__card">
                <div class="chef__avatar">
                    <img src="{{chef.avatar}}" alt="{{chef.name}}">
                </div>
                <div class="chef__info">
                    <h3>{{chef.name}}</h3>
                    <h6>{{chef.recipes_count}}
                    {% if chef.recipes_count > 1 %}
                      receitas
                    {% else %}
                      receita
                    {% endif %}</h6>
                </div>
            </div>
            {% endfor%}
        </div>
    </div>
{% endblock content %}