{% extends 'site/layout.njk'%}

{% block content%}
    <div class="wrapper">
        <div class="wrapper-content">
            <h2>As melhores receitas</h2>
            <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
        </div>
        <img src="/assets/chef.png" alt="Cheff">
    </div>
    <div class="subtitle">
        Mais Acessadas
    </div>
    <section class="cards">
        {% for recipe in recipes %}
                <div class="card" id="{{recipe.id}}">
                    <div class="card__image">
                        <img src="{{recipe.image}}" alt="{{recipe.title}}">
                    </div>
                    <div class="card__title">{{recipe.title}}</div>
                    <div class="card__author">por
                        {{recipe.chef_name}}</div>
                </div>
        {% endfor %}
    </section>

{%endblock content%}