{% extends 'site/layout.njk'%}


{% block content %}
    <div class='recipe__header'>
        <img src="{{item.image}}" alt="{{item.title}}">
        <h1>{{item.title}}</h1>
        <h3>por {{item.author}}</h3>
    </div>
    <div class='recipe__content__ingredients'>
        <h2>Ingredientes <h4>MOSTRAR</h4></h2>
        <ul>
            {% for ingredient in item.ingredients %}
                <li>{{ingredient}}</li>
            {% endfor %}
        </ul>
    </div>
    <div class='recipe__content__preparation'>
        <h2>Modo de preparo <h4>MOSTRAR</h4></h2>
        <ul>
            {% for step in item.preparation %}
                <li>{{step}}</li>
            {% endfor %}
        </ul>
    </div>
     <div class='recipe__content__info'>
        <h2>Informações adicionais <h4>MOSTRAR</h4></h2>
        <p> {{item.information}}</p>
    </div>
    {% block script %}
        <script src="recipeScript.js"></script>
    {% endblock script %}
{% endblock content %}