@import url('https://fonts.googleapis.com/css?family=Kulim+Park|Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
}

header {
    background-color: black;
    height: 80px;
    width: 100%;
}

header .container-header{
    position: relative;
    width: 80%;
    height: 100%;
    margin: 32px auto;
}

header .container-header img{
    margin-right: 64px;
}


header .container-header a{
    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
    margin-right: 16px;
    color: #999999;
    text-decoration: none;
}

header .container-header a.active{
    color: #ffffff;
}


.container-form, .container{
    width: 80%;
    margin: auto auto;
}

.container-form .header,
.container .header{
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
}

.container-form .edit-form{
    margin-top: 64px;
}


.button{
    background-color: #6558c3;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    line-height: 26px;
    padding: 8px 16px;
    text-align: center;
    cursor: pointer;
}

.edit-button{
    position: absolute;
    top: 20%;
    right: 8%;
}

.delete-button{
    background-color: #eee;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    line-height: 26px;
    padding: 8px 16px;
    text-align: center;
    cursor: pointer;

    position: absolute;
    right: 19%;
    top: 20%;
}

.delete-button:hover{
    transition: 200ms;
    background-color: #DC4747;
}

.container-form form .header h1{
    font-size: 24px;
    line-height: 34px;
    font-weight: bold;
}

.container-form .fields .item h3{
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
    margin-top: 24px;
}

.container-form .fields .item input,
.container-form .fields .item textarea,
.container-form .fields .item select{
    border: 1px solid #dddddd;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
    margin-top: 4px;
    padding: 8px 8px;
}

.container-form .fields .item textarea{
    resize: none;
    min-height: 150px;
    margin-bottom: 24px;
}

.container-form .fields .add-button{
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
    color: #6558C3;
    cursor: pointer;
    margin-top: 4px;
}

.container .header a{
    text-decoration: none;
}

.recipe__header{
    text-align: center;
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

/* .recipe__header img{
    animation: fadeIn 3s;
    border-radius: 15px;
    width: 940px;
    height: 280px;
    margin: 32px auto;
    object-fit: fill;
} */

.recipe__header h1 {
    font-size: 36px;
    line-height: 46px;

}

.recipe__header h3 {
    font-size: 20px;
    color: #777777;
    line-height: 30px;
    margin-top: 8px;
}

.recipe__content__ingredients,
.recipe__content__preparation,
.recipe__content__info{
    margin-top: 32px;
}

.recipe__content__ingredients h2,
.recipe__content__preparation h2,
.recipe__content__info h2{
    font-size: 24px;
    line-height: 34px;
    display: inline;
}

.recipe__content__ingredients ul,
.recipe__content__preparation ul{
    margin-top: 8px;
    margin-left: 16px;
    font-size: 18px;
    line-height: 28px;
    animation: fadeIn 1s;
}

.recipe__content__info p{
    margin-top: 8px;
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 28px;
    animation: fadeIn 1s;
}

.cards {
    margin: 32px auto 32px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.card {
    position: relative;
    display: flex;
}

.card .image img {
    animation: fadeIn 3s;
    width: 172px;
    height: 80px;
    border-radius: 8px;
    margin-right: 16px;
}

.card .info h3{
    font-size: 18px;
    line-height: 28px;

}

.card .info h5{
    font-size: 14px;
    line-height: 26px;
    color: #777777;
    margin-top: 2px;
}

.card .info h6,
.chef__card h6{
    font-size: 14px;
    line-height: 24px;
    margin-top: 8px;
}

.card .info h6 a,
.chef__card h6 a{
    text-decoration: none;
    color: #6558c3;
}


#chef__wrapper {
    text-align: center;
    padding: 32px;
}

#chef__wrapper img {
    animation: fadeIn 3s;
    border-radius: 50%;
    margin-bottom: 32px;
    height: 200px;
    width: 200px;
}

#chef__wrapper h1{
    font-size: 36px;
    line-height: 46px;
    font-weight: bold;
}

#chef__wrapper h2{
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
    margin-top: 8px;
    color: #777777;
}

.chef__cards{
    margin: 32px auto 32px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
}

.chef__card{
    position: relative;
    display: flex;
}

.chef__card .chef__info{
    margin-left: 16px;
}

.chef__card img{
    animation: fadeIn 1s;
    border-radius: 50%;
    height: 64px;
    width: 64px;
}

.chef__card h3{
    font-size: 18px;
    line-height: 28px;
}

form .fields .item select {
    
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

form .item #form-gallery{
    display: flex;
    align-items: center;
    justify-content: center;
}

form .item #photos-upload {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 200px;
}

form .item #photos-upload i {
    width: 150px;
    height: 150px;
    font-size: 28px;
    color: #777777;
    border: 1px solid #dddddd;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form .item #photos-input {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

form .item #photos-preview {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 8px;
    width: 100%;
    margin: 8px 0; 
}

form .item #photos-preview img {
    width: 150px;
    height: 150px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    object-fit: cover;
}

/* === PHOTOS UPLOAD === */
#photos-preview .photo {
    position: relative;
}

#photos-preview .photo i {
    position: absolute;
    top: 0;
    left: 0;

    background: rgba(255, 255, 255, 0.8);
    color: red;

    width: 100%;
    height: 100%;
    font-size: 500%;

    transition: opacity 20ms;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
}

#photos-preview .photo:hover i {
    opacity: 1;
}

/* === GALLERY === */
.recipe__header .highlight > img {
    animation: fadeIn 3s;
    width: 100%;
    height: 280px;
    margin-top: 32px;

    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 15px;
}

.recipe__header .gallery-preview {
    text-align: end;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
}

.recipe__header .gallery-preview img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 4px;
    border: 1px solid #dddddd;

    opacity: 0.6;
    cursor: pointer;

    transition: 200ms;
}

.recipe__header .gallery-preview img:hover,
.recipe__header .gallery-preview img.active{
  opacity: 1;
}

.avatar{
    margin-top: 24px;
}