<div class="item">
    <h3>Imagem da Receita</h3>
    <div id="form-gallery">
        <div id="photos-upload">
          <input 
            type="file" 
            id="photos-input" 
            name="photos" 
            multiple 
            accept="image/*"
            onchange="PhotosUpload.handleFileInput(event)"
          >
          <i class="material-icons">add</i>
        </div>
        <div id="photos-preview">
          {% if files %}
            {% for image in files %}
              <div class="photo" id="{{image.id}}">
                <img src="{{image.src}}" alt="{{image.name}}">
                <i class="material-icons" onclick="PhotosUpload.removeOldPhoto(event)">close</i>
              </div>
            {% endfor %}
            <input type="hidden" name="removed_files">
          {% endif %}
        </div>
    </div>
</div>

<div class="item">
  <h3> Chef </h3>
  <select name="chef_id">
    {% for chef in chefs %}
      <option value="{{chef.id}}" {% if chef.id == recipe.chef_id %} selected {% endif %}>{{chef.name}}</option>
    {% endfor %}
  </select>
</div>

<div class="item">
  <h3> Título </h3>
  <input 
    type="text"
    name="title"
    value="{{recipe.title}}"
    >
</div>

<div id="ingredients" class="item">
<h3> Ingredientes</h3>
  <div class="item ingredient">
    {% if not recipe.id %}
      <input type="text" name="ingredients[]" value="" />
    {% else %}
      {% for ingredient in recipe.ingredients %}
        <input type="text" name="ingredients[]" value="{{ingredient}}" />
      {% endfor %}
    {% endif %}
  </div>
</div>

<div class="add-button add-ingredient">
  Adicionar novo ingrediente
</div>

<div id="steps" class="item">
<h3> Modo de Preparo</h3>
  <div class="item step">
    {%if not recipe.id %}
      <input type="text" name="preparation[]" value="" />
    {% else %}
      {% for step in recipe.preparation %}
        <input type="text" name="preparation[]" value="{{step}}" />
      {% endfor %}
    {% endif %}
  </div>
</div>

<div class="add-button add-step">
  Adicionar novo passo
</div>

<div class="item step-input">
  <h3> Informações adicionais</h3>
  <textarea name="information">
    {{recipe.information}}
  </textarea>
</div>

